@import "tailwindcss";

html, body {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  background-color: #0f0f11;
  color: #ffffff;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
